#!{{ lookPath "bash" }}
VIRTUALENVS="${HOME}/.virtualenvs"
VIRTUALENV_NAME="ansible-env"
VIRTUALENV_PATH="${VIRTUALENVS}/${VIRTUALENV_NAME}"

# Create Parent Directory
if [ ! -d "${VIRTUALENVS}" ]; then
    mkdir -p "${VIRTUALENVS}"
fi

# Create Virtualenv
if [ ! -d "${VIRTUALENV_PATH}" ]; then
    python3 -m venv "${VIRTUALENV_PATH}"
fi

# Activate and update pip
source "${VIRTUALENV_PATH}/bin/activate"
python -m pip install --quiet --upgrade pip 

# Install packages using pip
pip install --quiet --upgrade ansible ansible-lint \
    ansible-navigator ansible-runner boto3

# Deactivate
deactivate
